.toast {
    position: fixed;
    top: 20px;
    z-index: 1001;
    background-color: var(--background-color);
    padding: 10px 20px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.no_toast {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}